@model ChomasP3.Models.DegreesModel
@{
    ViewData["Title"] = Model.pageTitle;
}
<h1>Our Degrees</h1>

<div id="allDegrees">
    <div id="degreeTab">
        <ul>
            <li><a href="#undergrad">Undergraduate</a></li>
            <li><a href="#grad">Graduate</a></li>
        </ul>
        <div id="undergrad">
            <div id="undrgrdAcc">
                @foreach (var degree in Model.undergraduate)
                {
                    <h3>@degree.title</h3>
                    <div>
                        <p>@degree.degreeName</p>
                        <p>@degree.description</p>
                        <h6>Concentrations</h6>
                        <ul>
                            @foreach (var concentration in degree.concentrations)
                            {
                                <li>@concentration</li>
                            }
                        </ul>
                    </div>

                }
            </div>
        </div>
        <div id="grad">
            <div id="gradAcc">
                @foreach (var degree in Model.graduate)
                {
                    @if(degree.title != null)
                    {
                        <h3>@degree.title</h3>
                        <div>
                            <p>@degree.degreeName</p>
                            <p>@degree.description</p>
                            <h6>Concentrations</h6>
                            <ul>
                                @foreach (var concentration in degree.concentrations)
                                {
                                    <li>@concentration</li>
                                }
                            </ul>
                        </div>
                    }
                    else
                    {
                        <h3>@degree.degreeName</h3>
                        <div>
                            <ul>
                                @foreach (var cert in degree.availableCertificates)
                                {
                                    <li>@cert</li>
                                }
                            </ul>
                        </div>
                    }
                }
            </div>
        </div>
    </div>
</div>
